@import url("https://fonts.googleapis.com/css2?family=Inter");
@import url("fonts.css");
body {
  margin: 0;
  font-family: 'Gilroy-Semibold';
  background: -webkit-gradient(linear, left top, left bottom, from(#3B1D60), to(#040D3E));
  background: linear-gradient(#3B1D60, #040D3E);
  height: 200em;
}

.header {
  margin: 0 auto;
  margin-top: 2em;
  height: 50px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  margin-left: 0.7rem;
  letter-spacing: 1px;
  color: #B5B5B5;
}

.hl-first {
  margin-left: 44px;
}

.header-rcontainer {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 120px;
  height: 36px;
  border: 1.5px solid #F2994A;
  border-radius: 5px;
  margin-right: 1rem;
  color: #F2994A;
  font-size: 14px;
  cursor: pointer;
}

.btn-yellow {
  color: #fff;
  background: #F2994A;
}

.intro {
  margin: 0 auto;
  margin-top: 50px;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro-man {
  position: relative;
  width: 600px;
  height: 500px;
  top: -3em;
  right: -4em;
}

.intro-contaier {
  width: 50%;
}

.intro-title {
  font-family: 'Inter';
  font-weight: 700;
  color: #99EFD0;
  font-size: 46px;
  margin-bottom: 0.5rem;
}

.intro-subtitle {
  font-size: 18px;
  color: #8476AA;
  margin-bottom: 1rem;
}

.intro-flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.intro-dpreview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-dtext {
  margin-left: 1rem;
}

.introd-title {
  font-size: 16px;
  color: #8476AA;
}

.introd-dtext {
  font-size: 14px;
  color: #6D6D78;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
  width: 85%;
}

.top-two-em {
  margin-top: 2em;
}

.intro-downer-background {
  position: absolute;
  margin-top: -5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-downer-background svg {
  width: 1537px;
  height: 572px;
}

.intro-dcontainer {
  margin: 0 auto;
  width: 85%;
  margin-top: 4em;
}

.intro-dcontainer-top {
  text-align: center;
}

.big-title {
  font-weight: 700;
  font-size: 42px;
  color: #99EFD0;
}

.subtitle {
  color: #8476AA;
}

.bfs-container {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bfs-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 340px;
}

.bfs-title {
  font-size: 18px;
  color: #99EFD0;
}

.bfs-subtitle {
  font-size: 14px;
  color: #8476AA;
}
/*# sourceMappingURL=main.css.map */